* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  background: linear-gradient(135deg, #d9d9d9, #cecad3);
  font-family: "Rubik", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: mediumorchid;
  color: white;
  height: 100px;
  padding: 2rem 1rem;
  text-align: center;
}
:root {
  --main: rgba(45, 48, 50, 0.8);
  --mainapp: rgba(45, 48, 50, 0.92);
  --white: #d9d9d9;
  --yellow: #fce34d;
}

h1 {
  text-align: center;
  color: var(--white);
}
.todo {
  display: block;
  width: 600px;
  height: 700px;
  background-color: var(--mainapp);
  border-radius: 20px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  margin: 30px;
}

#todoform {
  width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 20px;
  position: relative;
}
#todoform input,
#todoform select {
  padding: 0.5rem 1rem;
  background-color: #353a40;
  border: solid #31353a 1px;
  border-radius: 5px;

  color: var(--white);
  outline: none;
}

#todoinput[type="text"] {
  width: 100%;
}
#todoform > #todo-btn {
  cursor: pointer;
  background-color: var(--yellow);
  color: var(--main);

  border: none;

  padding: 0.5rem 0.8rem;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 500;
  box-shadow: rgba(39, 37, 39, 0.4) 5px 7px 10px 2px;
  transition: all 0.1s ease-in;
}
#todo-btn:hover {
  box-shadow: inset 5px 7px 10px 2px var(--darkpink);
}

#todoform > button:active {
  transform: scale(0.99);
}

#todoform::after {
  position: absolute;

  content: "";
  width: 400px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--mainapp);
}

#user-todo {
  color: var(--grey);
}

#todo-list {
  list-style: none;
  width: 450px;
  height: 350px;
  margin: 2rem auto;
  padding: 15px;

  overflow-y: scroll;
  color: #b4b5b8;
}

#todo-list::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 5px;
}

.todo-item {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.close {
  color: var(--white);
  cursor: pointer;
  font-weight: bolder;
}
.close:hover {
  color: tomato;
}
